/* ==== Variables ==== */
:root {
    --primary-color: #FFC374;
    --black-color: #2B2B2B;
    --white-color: #FFFFFF;
    --text-color: #00000080;
}


/* ==== Configuration ==== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 62.5% => 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "IranYekanX-Regular", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: #E5E9EC;
    background: url("../images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(8px);
}

/* ==== Custom Resets ==== */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

input,
button {
    font-family: inherit;
    outline: none;
    border: none;
    background-color: transparent;
}

::placeholder {
    color: #A7A7A7;
    font-size: 1.4rem;
    font-family: "IranYekanX-Regular";
    line-height: 2rem;
}

input:focus {
    border: 1px solid #1D2939;
    color: #1D2939;
}

input:focus::placeholder {
    color: #1D2939;
}

/* ==== Start ==== */
.main {
    margin: 5.2rem 0;
}

.register {}

.register__wrapper {}

.register-form__wrapper {
    background: var(--white-color);
    padding: 4.2rem 2rem;
    flex-basis: 50%;
}

.register-head {
    margin-bottom: 5.4rem;
    text-align: center;
}

.register-head__title {
    color: var(--black-color);
    font-family: "IranYekanX-Heavy";
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
}

.register-head__text {
    color: var(--text-color);
    font-family: "IranYekanX-Medium";
    line-height: 2.4rem;
}

.register-form {}

.form {
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 2rem; */
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
    /* width: 100%; */
    flex-grow: 1;
}

.form__label {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-family: "IranYekanX-Medium";
    line-height: 2.1rem;
    color: var(--black-color);
}

.form__input-text-box {
    border: 1px solid #E5E5E5CC;
    padding: 1.6rem;
    border-radius: .4rem;
}

.form__submit-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    padding: 1.4rem 0;
    border-radius: .4rem;
    font-family: "IranYekanX-Medium";
    line-height: 2.4rem;
    transition: all 150ms ease-in-out;
    border: 1px solid var(--primary-color);
    height: 5.2rem;
    font-size: 1.6rem;
}

.form__submit-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.register-banner {
    display: none;
    flex-basis: 50%;
}

.register-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==== Finish ==== */