/* ==== Configuration ==== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 62.5% => 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto-Regular, sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
}

/* ==== Custom Resets ==== */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

input,
button {
    font-family: inherit;
    outline: none;
    border: none;
}

/* ==== Start ==== */
/* ==== Finish ==== */