/* ==== Variables ==== */
:root {
    --primary-color: #FFC374;
    --black-color: #2B2B2B;
    --white-color: #FFFFFF;
    --text-color: #00000080;
}


/* ==== Configuration ==== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 62.5% => 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "IranYekanX-Regular", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: #E5E9EC;
}

/* ==== Custom Resets ==== */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

input,
button {
    font-family: inherit;
    outline: none;
    border: none;
}

/* ==== Start ==== */
.main {
    margin: 5.2rem 0;
}

.register {}

.register__wrapper {
    background: var(--white-color);
    padding: 4.2rem 2rem;
}

.register-head {}

.register-head__title {
    color: var(--black-color);
    font-family: "IranYekanX-Heavy";
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
}

.register-head__text {
    color: var(--text-color);
    font-family: "IranYekanX-Medium";
    line-height: 2.4rem;
}

/* ==== Finish ==== */